#ca-social {
	display: block;
	width: 50px;
}

#ca-social .total-shares {
	font-family: 'Arial', sans-serif;
	text-align: center;
	font-size: 0.7em;
	margin: 10px 0;
}

#ca-social .total-shares .shares {
	font-size: 1.6em;
	font-weight: bold;
}

.social-btn {
	padding: 0;
	border: 0;
	width: 50px;
	height: auto;
	text-align: center;
	display: table;
	cursor: pointer;
	margin-bottom: 2px;
}

.social-btn:hover {
	opacity: 0.8;
	-webkit-transition: all 0.2s linear;
}

.social-btn:hover .shared {
	display: none !important;
}

.social-btn:hover .call {
	display: block !important;
}

.fb, .fb .button-icon {
	background: rgba(51,80,137,1);
}

.tw, .tw .button-icon {
	background: rgba(51,138,230,1);
}

.gp, .gp .button-icon {
	background: rgba(190,69,51,1);
}

.yt, .yt .button-icon {
	background: rgba(231,44,28,1);
}

.email, .email .button-icon {
	background: rgba(100,100,100,1);
}
.social-btn .button-icon {
	display: table-cell;
	vertical-align: middle;
	float: left;
	width: 100%;	
	padding: 5px 0;
}

.social-btn .button-icon i {
	color: #FFF;
	font-size: 1.2em;
}

.social-btn .shared, .social-btn .call {
	width: 100%;
	float: left;
	background: rgba(255,255,255,.1);
	padding: 5px 0;
	color: #FFF;
	font-family: 'Arial',sans-serif;
	font-size: .8em;
	display: none;
}

.social-btn .call {
	display: block;
	font-size: 0.8em;
}